<br>
<div class="container-fluid text-center">
  <h1>Your Saved Events</h1>
</div>
<br>

<div class="accordion accordion-flush" id="accordionFlushExample">
  @for (item of outputList; track $index) {

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          {{ item.title }}
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <!--<p>Type: {{ item.type }}</p>
          <p>Date: {{ item.date }}</p>
          <p>Organiser: {{ item.organiser }}</p>
          <p>Comments: {{ item.comments }}</p>
          <p>Address: {{ item.address }}</p>
        </div>
        <div class="text-center">
          <app-maps-route></app-maps-route>
          <button type="button" class="btn btn-warning" (click)="removeFromList(item.id)">Remove From List</button>
        </div>-->
          <div class="text-center align-content-around">
            <button type="button" id="btnDelete"
                    class="btn  btn-primary"
                    (click)="showOneEvent(item)">
              Event Details
            </button>
            <button type="button" class="btn btn-warning" style="margin-left: 6px" (click)="removeFromList(item.id)">Remove From List</button>
          </div>
        </div>
      </div>
    </div>

  } @empty {
    No Events have been saved to your account
  }
</div>


<!--<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
      Accordion Item #2
    </button>
  </h2>
  <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
  </div>
</div>-->

