<img class="img-fluid mb-2" src="assets/images/events_bg.webp" alt="Description of your image">
<div class="container-fluid text-center mb-3">
  <h1 class="text-center">Discover Your City</h1>
  <p>Visiting a new place or just looking to Rediscover your Home? Find local events happening near you ranging from
    all venues, types, and sizes. Community is a few clicks away!</p>

<!--  <button class="btn btn-primary" (click)="getLocation()">Get Current Location</button>-->
</div>

<app-maps></app-maps>

<div class="container-fluid mt-2 text-center">
  <h1 class="text-center">Events Happening in Waterloo</h1>
  <button class="btn-primary btn mb-2" (click)="navEvents()">FIND EVENTS</button>

  <p>Click above to view all events near your location.</p>
</div>
