<div class="container-fluid mt-5" data-bs-theme="light">
  <div class="container">
    <div class="container">
      <div class="card shadow rounded">
        <div class="card-header">
          <h1>Event Details</h1>
        </div>
        <div class="card-body">
          <form #myForm="ngForm" >
            <!--title-->
            <div class="mb-3">
              <label class="form-label" for="txtTitle">Title</label>
              <input type="text" id="txtTitle"
                     name="txtTitle"
                     class="form-control"
                     [(ngModel)]="occasion.title"
                     #title="ngModel"
                     readonly
              >
            </div>

            <!--organiser-->
            <div class="mb-3">
              <label for="txtDeveloper" class="form-label"> Organiser </label>
              <input id="txtDeveloper" name="txtDeveloper" type="text" class="form-control"
                     [(ngModel)]="occasion.organiser"
                     #developer="ngModel"
                     readonly
              >
            </div>

            <!--type-->
            <div class="mb-3">
              <label for="cmbGenre" class="form-label"> Type </label>
              <input id="cmbGenre" name="cmbGenre" class="form-control"
                      [(ngModel)]="occasion.type"
                      #type="ngModel"
                      readonly
              />
            </div>

            <!--price-->
            <div class="mb-3">
              <label for="txtPrice" class="form-label"> Price </label>
              <input type="number" id="txtPrice" name="txtPrice" class="form-control"
                     [(ngModel)]="occasion.price"
                     #price="ngModel"
                     required
                     pattern="^\d{2}$"
                     readonly
              >
            </div>

            <!--address-->
            <div class="mb-3">
              <label for="txtAddress" class="form-label"> Address </label>
              <input id="txtAddress" name="txtAddress" type="text" class="form-control"
                     [(ngModel)]="occasion.address"
                     #address="ngModel"
                     required
                     readonly
              >
            </div>


            <!--date-->
            <div class="mb-3">
              <label for="txtDate" class="form-label"> Date </label>
              <input id="txtDate" name="txtDate" type="date" class="form-control"
                     [(ngModel)]="occasion.date"
                     #date="ngModel"
                     required
                     readonly
              >

            </div>

            <!--comment-->
            <div class="mb-3">
              <label for="txtComment" class="form-label">Comments</label>
              <textarea id="txtComment" name="txtComment" class="form-control"
                        [(ngModel)]="occasion.comments"
                        #comment="ngModel"
                        readonly>
                        </textarea>
            </div>

            <div class="mb-3 text-center">
              <button type="button" id="btnModify"
                      class="btn btn-primary btn-sm me-4"
                      (click)="onModifyClick(occasion)">
                Modify</button>
              <button type="button" id="btnDelete"
                      class="btn btn-danger btn-sm me-4"
                      (click)="onDeleteClick(occasion)">
                Delete</button>
            </div>

            <p>Display the IMAGE (native feature TO DO)</p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
